# main
polars
more-itertools
returns
injector
lightning

# already included
# numpy
# pandas
# matplotlib
# pydantic
# click

# dev
ipdb
isort
black
flake8
mypy

# already included
# ipython
# jupyter
# notebook
# pytest
# typing_extensions
